<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>
   <div class="container" style="padding-top: 5vh;">
     <hr>
     <h2>Categorias</h2>
     <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria </a>
     <hr>
     <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(item => { %>  
            <tr>
                <th><%= item.id %></th>
                <th><%= item.title %></th>
                <th><%= item.slug %></th>
                <th style="display:flex; flex-direction: row;">
                    <a class="btn btn-warning" href="/admin/categories/edit/<%=item.id%>" style="margin-right:5%;">Editar</a>
                    <form method="post" action="/categories/delete" style="display: inline;" onsubmit="Deletar(event, this)">
                        <input type="hidden" name="id" value="<%= item.id %>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </th>
            </tr>
        <% }); %>
        </tbody>
     </table>
   </div>
<%- include('../../partials/footer.ejs') %>
<script>
    function Deletar(event, form){
        event.preventDefault();
        var decision = confirm("Você deseja deletar essa categoria?");
        if(decision){
            form.submit();
        }
    }
</script>